.team {
	border: 1px solid red;
	margin-top: 1rem;
}

.cloud9 {
	width: 10rem;
	height: 10rem;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flag {
	width: 5rem;
	height: 5rem;
}